USE [master]
GO
/****** Object:  Database [Parcial]    Script Date: 24/11/2017 06:20:39 p.m. ******/
CREATE DATABASE [Parcial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Parcial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Parcial.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Parcial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Parcial_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Parcial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Parcial]
GO
/****** Object:  Table [dbo].[tbCategoria]    Script Date: 24/11/2017 06:20:39 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbCategoria](
	[cateCodigo] [int] IDENTITY(1,1) NOT NULL,
	[cateDescripcion] [varchar](50) NULL,
 CONSTRAINT [PK_tbCategoria] PRIMARY KEY CLUSTERED 
(
	[cateCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbMembresia]    Script Date: 24/11/2017 06:20:39 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbMembresia](
	[membCodigo] [int] IDENTITY(1,1) NOT NULL,
	[membDescripcion] [varchar](50) NULL,
	[membCantidad] [int] NULL,
 CONSTRAINT [PK_tbMembresia] PRIMARY KEY CLUSTERED 
(
	[membCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbProducto]    Script Date: 24/11/2017 06:20:39 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbProducto](
	[prodCodigo] [int] IDENTITY(1,1) NOT NULL,
	[prodDescripcion] [varchar](50) NULL,
	[prodCantidad] [int] NULL,
	[prodValor] [decimal](18, 2) NULL,
	[provIdentificacion] [bigint] NULL,
	[cateCodigo] [int] NULL,
 CONSTRAINT [PK_tbProducto] PRIMARY KEY CLUSTERED 
(
	[prodCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbProveedor]    Script Date: 24/11/2017 06:20:39 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbProveedor](
	[provIdentificacion] [bigint] IDENTITY(1,1) NOT NULL,
	[provNombres] [varchar](100) NULL,
	[provApellidos] [varchar](100) NULL,
	[provDireccion] [varchar](50) NULL,
	[provTelefono] [varchar](50) NULL,
	[provCorreo] [varchar](50) NULL,
	[membCodigo] [int] NULL,
 CONSTRAINT [PK_tbProveedor] PRIMARY KEY CLUSTERED 
(
	[provIdentificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbCategoria] ON 

INSERT [dbo].[tbCategoria] ([cateCodigo], [cateDescripcion]) VALUES (2, N'Lacteos')
INSERT [dbo].[tbCategoria] ([cateCodigo], [cateDescripcion]) VALUES (3, N'Abarrotes')
INSERT [dbo].[tbCategoria] ([cateCodigo], [cateDescripcion]) VALUES (4, N'Bebidas')
SET IDENTITY_INSERT [dbo].[tbCategoria] OFF
SET IDENTITY_INSERT [dbo].[tbMembresia] ON 

INSERT [dbo].[tbMembresia] ([membCodigo], [membDescripcion], [membCantidad]) VALUES (2, N'Platino', 2)
SET IDENTITY_INSERT [dbo].[tbMembresia] OFF
ALTER TABLE [dbo].[tbProducto]  WITH CHECK ADD  CONSTRAINT [FK_tbProducto_tbCategoria] FOREIGN KEY([cateCodigo])
REFERENCES [dbo].[tbCategoria] ([cateCodigo])
GO
ALTER TABLE [dbo].[tbProducto] CHECK CONSTRAINT [FK_tbProducto_tbCategoria]
GO
ALTER TABLE [dbo].[tbProducto]  WITH CHECK ADD  CONSTRAINT [FK_tbProducto_tbProveedor] FOREIGN KEY([provIdentificacion])
REFERENCES [dbo].[tbProveedor] ([provIdentificacion])
GO
ALTER TABLE [dbo].[tbProducto] CHECK CONSTRAINT [FK_tbProducto_tbProveedor]
GO
ALTER TABLE [dbo].[tbProveedor]  WITH CHECK ADD  CONSTRAINT [FK_tbProveedor_tbMembresia] FOREIGN KEY([membCodigo])
REFERENCES [dbo].[tbMembresia] ([membCodigo])
GO
ALTER TABLE [dbo].[tbProveedor] CHECK CONSTRAINT [FK_tbProveedor_tbMembresia]
GO
USE [master]
GO
